SimulationBuilder/SimulationBuilder/Service References/HostProxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimulationHost" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SimulationBuilder" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimulationHost_GetSimulationJob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSimulationJob" />
  </wsdl:message>
  <wsdl:message name="ISimulationHost_GetSimulationJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSimulationJobResponse" />
  </wsdl:message>
  <wsdl:message name="ISimulationHost_SimulationJobDone_InputMessage">
    <wsdl:part name="parameters" element="tns:SimulationJobDone" />
  </wsdl:message>
  <wsdl:message name="ISimulationHost_SimulationJobDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimulationJobDoneResponse" />
  </wsdl:message>
  <wsdl:message name="ISimulationHost_SimulationJobFailed_InputMessage">
    <wsdl:part name="parameters" element="tns:SimulationJobFailed" />
  </wsdl:message>
  <wsdl:message name="ISimulationHost_SimulationJobFailed_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimulationJobFailedResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimulationHost">
    <wsdl:operation name="GetSimulationJob">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimulationHost/GetSimulationJob" message="tns:ISimulationHost_GetSimulationJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimulationHost/GetSimulationJobResponse" message="tns:ISimulationHost_GetSimulationJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SimulationJobDone">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimulationHost/SimulationJobDone" message="tns:ISimulationHost_SimulationJobDone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimulationHost/SimulationJobDoneResponse" message="tns:ISimulationHost_SimulationJobDone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SimulationJobFailed">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimulationHost/SimulationJobFailed" message="tns:ISimulationHost_SimulationJobFailed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimulationHost/SimulationJobFailedResponse" message="tns:ISimulationHost_SimulationJobFailed_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISimulationHost" type="tns:ISimulationHost">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSimulationJob">
      <soap:operation soapAction="http://tempuri.org/ISimulationHost/GetSimulationJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimulationJobDone">
      <soap:operation soapAction="http://tempuri.org/ISimulationHost/SimulationJobDone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimulationJobFailed">
      <soap:operation soapAction="http://tempuri.org/ISimulationHost/SimulationJobFailed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimulationHost">
    <wsdl:port name="BasicHttpBinding_ISimulationHost" binding="tns:BasicHttpBinding_ISimulationHost">
      <soap:address location="http://localhost:12345/SimulationHost/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>