SimulationBuilder/SimulationBuilder/Service References/HostProxy/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SimulationBuilder" />
  <xs:element name="GetSimulationJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SimulationBuilder" minOccurs="0" name="GetSimulationJobResult" nillable="true" type="q1:SimulationJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimulationJobDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="simulationBatchGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hostname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="elapsedTicks" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimulationJobDoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SimulationJobFailed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="simulationBatchGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hostname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimulationJobFailedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>